div, h1{
    
    line-height: 1.5;

    color: brown;
    background-color: lightblue;

    font-family: "Gill", sans-serif;
    font-size: 14px;
    
}

.container{    
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-around;
    column-gap: 500px; 
    background-color: black;   
    color: white;
    font-family: Serif;
    font-size: 18px;
}

.contained:hover{
    justify-content: space-around;
    display: flex; /* or inline-flex */
    column-gap: 500px; 
    background-color: lightblue;   
    color: brown;
    font-family: Serif;
    font-size: 18px;
}

@media all and (min-width: 600px){
    h2{      
        background-color: green;   
    }
    
    ul{
        background-color: orange;  
    }
}


