a:hover{
    cursor: pointer;
    color:lightgreen;
}

.formulario{    
    width: 600px;
    align-content: space-between;    
}

.contenedor{    
    display: flex; /* or inline-flex */
    flex-flow: row wrap;   
    justify-content: space-around; 
    font-family: Arial;
    font-size: 16px; 
    background-color: white;
    line-height:10px;
}

.bloque1{
    display: flex; /* or inline-flex */
    flex-flow: row wrap;   
}

.comentario{
    display: flex; /* or inline-flex */
    flex-flow: row wrap; 
    align-content:center;
    line-height:5px;
}

.principal{
    padding-left:20px;    
}

#centroSal{
    font-size:18px;
}

.gris{
    background-color: lightgrey;
    padding-bottom:50px;
    padding-top:50px;
    width:100px;
    font-size: 10px; 
    text-align: center;
    color: grey;
}

.boton{
    border:grey;
    border-radius:5px;
    color:black;  
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:5px;
    padding-right:5px;  
    border-style:solid; 
    transition-duration: 0.4s;
}
.boton:hover{
    cursor:pointer;
    color: red;
}

#cita{
    background-color: white; 
}
#presupuesto{
    background-color: grey;
    color:white;
}
#presupuesto:hover{
    color: red;
}
#numboton{
    background-color:rgb(167, 166, 166);
    border-color:rgb(167, 166, 166);
    padding-right:10px;
    padding-left:10px;
    position: relative;
    left:20px;
    top:10px;
}

.parrafo,p{
    color:lightslategray;
}

